name: docker-build

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'docs/**'
      - '*.md'
      - '*.pdf'
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '*.md'
      - '*.pdf'

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2.4.0
      - name: Build and push
        uses: docker/build-push-action@v2.9.0
